# *******************************
# 脚本功能：Photomator照片编辑-解锁订阅
# 脚本作者：afengye
# 注意事项：查看频道说明
# 频道地址：https://t.me/afengye
# 使用声明：️仅供学习交流, 🈲️商业用途
# ********************************
[rewrite_local]
^https:\/\/api\.revenuecat\.com\/.+\/(receipts$|subscribers\/.+$) url script-response-body photomator.js
^https:\/\/api\.revenuecat\.com\/.+\/(receipts$|subscribers\/.+$) url script-request-header photomator.js
[mitm] 
hostname = api.revenuecat.com
