#!name=Photomator-照片编辑
#!desc=Photomator-照片编辑解锁订阅
#!date=2026-01-21
#!category=🐹 BOBO Premium
#!author=叮当猫chxm1023[https://github.com/chxm1023/Rewrite]
#!icon=https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/main/Icons/AppIcons/Image/App/Photomator.png
#!openUrl=https://apps.apple.com/app/id1444636541

[rewrite_local]
# > Photomator-照片编辑解锁订阅
^https?:\/\/api\.revenuecat\.com\/.+\/(receipts$|subscribers\/?(.*?)*$) url script-response-body https://raw.githubusercontent.com/Noahchina/Quantumult-X/main/Scripts/photomator.js
^https?:\/\/api\.revenuecat\.com\/.+\/(receipts$|subscribers\/?(.*?)*$) url script-request-header https://raw.githubusercontent.com/Noahchina/Quantumult-X/main/Scripts/photomator.js

[mitm]
hostname = api.revenuecat.com
