# > 迅雷 - XUNLEI
# > 原脚本路径https://raw.githubusercontent.com/zirawell/R-Store/main/Res/Scripts/AntiAd/xunlei.js
# > 原复写源路径https://raw.githubusercontent.com/zirawell/R-Store/main/Rule/QuanX/Adblock/App/X/%E8%BF%85%E9%9B%B7/rewrite/xunlei.conf
^https?:\/\/images\.client\.vip\.xunlei\.com(\/.+)?\/advert\/ url reject-200
^https?:\/\/api-shoulei-ssl\.xunlei\.com\/flowhub\/v\d\/slots:batchGet url reject-200
^https?:\/\/conf-m-ssl\.xunlei\.com\/external\/ url script-response-body Xunlei.js

hostname = images.client.vip.xunlei.com, api-shoulei-ssl.xunlei.com, conf-m-ssl.xunlei.com
